<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.comemepro">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComeMePro">
        <activity
            android:name=".comicmake_detail"
            android:exported="false" />
        <activity
            android:name=".comicmake_comment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".custom_comment"
            android:exported="false" />
        <activity android:name=".upload2" />
        <activity android:name=".upload" />
        <activity android:name=".signup" />
        <activity android:name=".comicmake" />
        <activity android:name=".login">
             </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>